<%= link_to "Add New Photo",  new_image_path %>

<% if @images == [] %>
  <p> Gallery is empty </p>
<% else %>
  <% @images.each do |image| %>
	<p><%= image.title %><br />
	<%= image.description %><br />
	<%= image_tag(image.image_url, size: "200x100")%></p>
  
    <% if image.user_id == current_user.id %>
       <%= link_to "Edit",  edit_image_path(image.id) %>
       <%= link_to "Delete",  image_path(image.id), method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  <% end %>
<% end %>